@page
@model VisitedPlaces_razor.Pages.Cities.IndexCitiesModel
@{
}

<div class="ui container"></div>
<div class="ui clearing segment"><div class="ui container"></div>
  <h2 class="ui left floated header">All my cities</h2>
    <h4 class="ui right floated header">          
      <a asp-page="createCity" class="ui button">Add city</a>
    </h4>
</div>

<div class="ui container">
    <div class="ui container">
    </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>                         
                        Name
                    </th>
                    <th>
                        Capital city?
                    </th>
                    <th>
                        Lies in this region
                    </th>
                    <th>
                        My best memory from this place
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cities)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.IsCapital
                        </td>
                        <td>
                            @item.CountryRegion
                        </td>
                        <td>
                            @item.BestMemory
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>