@page
@model VisitedPlaces_razor.Pages.Continents.IndexContinentModel
@{
}

<div class="ui container"></div>
<div class="ui clearing segment"><div class="ui container"></div>
  <h1 class="ui left floated header">
    Continents of the world.
  </h1>
</div>

<div class="ui container">
    <div class="ui container"></div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        List of all countries in continent
                    </th>
              </tr>
              </thead>
            <tbody>
                @foreach (var item in Model.Continents)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a asp-page="/Continents/ListContinentCountries" class="btn btn-outline-info"
                              asp-route-id="@item.Id" >
                                Click here for all countries</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
