@page
@model VisitedPlaces_razor.Pages.Continents.IndexContinentModel
@{
}

<div class="container-fluid vh-100 d-flex">
    <div class="col-sm col">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>                         
                        Name
                    </th>
                    <th>
                        Population
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Continents)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a asp-page="/Continents/ListContinentCountries" class="btn btn-outline-info"
                              asp-route-id="@item.Id" >
                                Click here for all countries</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
