@page 
@model VisitedPlaces_razor.Pages.Continents.ListContinentCountriesModel
@{
}

<div class="ui container"></div>
<div class="ui clearing segment"><div class="ui container"></div>
  <h1 class="ui left floated header">
    Countries!!
  </h1>
</div>

<div class="ui container">
    <div class="ui container"></div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>                         
                        Continent
                    </th>
                    <th>
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.countryCount)
                {
                  if(@item.Countries.Count() == 0)
                        {
                            <tr>
                                <td>
                                    <p>
                                       You have not been to this continent.<br/>
                                    </p>
                                </td>
                            </tr>
                        }

                    @foreach(var country in @item.Countries)
                    {

                        <tr>
                        <td>
                            @country.Continent.Name
                        </td>
                        <td>
                            @country.Name
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <a asp-page="/Continents/IndexContinent" class="ui button">Go back!</a>
    </div>
</div>